extends layout

block content
    h1= title
    h3 Create your own device profile
    p By adding services, characterists and descriptors you can define your own device profile
    br
    p Please be sure to fill in all values before submitting
    br
    div(id="profile")

        div(id='characteristicroot')
            br
            input.remove(type='button', value='-', onclick='removeCharacteristic(this)')
            br
            label.characteristic(id='characteristic', for='characteristic') Characteristic
            br
            label.service(id='characteristicUUID', for='characteristicUUID') Characteristic UUID:
            input(name='characteristicUUID', placeholder='Characteristic UUID', value='')
            br
            label.service(id='characteristicValueType', for='characteristicValueType') Characteristic value type:
            input(name='characteristicValueType', placeholder="Characteristic value type", value='')
            br
            input.add(type='button', value='Add Descriptor', onclick='addDescriptor()')
        span(id='characteristicend')

        span(id='serviceend')
    br
    input.send(type='submit' value='Send profile to server')
