extends layout

block content
    h1= title
    h3 Create your own device profile
    p By adding services, characterists and descriptors you can define your own device profile
    br
    p Please be sure to fill in all values before submitting
    br
    div(id="profile")
    br
    input.send(type='submit' value='Send profile to server')
