doctype html
html
    head
        title= title

    body
    h1= title
    h3 Create your own device profile
    p By adding services, characterists and descriptors you can define your own device profile

    div
        form(action='/profile',method='post')
            label(for='serviceName') Service name:
            input(id='serviceName', type='text', value='', placeholder='Service Name', name='serviceName')
            br
            label(for='serviceUUID') password
            input(id='serviceUUID', type='text', value='', placeholder='Service UUID', name='serviceUUID')
            br
            input(type='submit', value='Send profile')


