extends layout

block content
    h1 Welcome to #{title}
    h3 FAQ
    p Tab  <b>Existing Profiles</b> shows all stored profiles in the database.
    p It can be used to get information about existing profiles or delete unused ones.
    br
    p Use <b>Create Profile</b> for the creation form.
    p Add services, characteristics and descriptors containing specific attributes to define your own device profile.