doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        header
            div#nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/profile") Create Profile
                    li
                        a(href="/about") About
        block content
