extends layout

block content
    p Please be sure to fill in all values before submitting
        br
        div
            form(id="profile", action='/profile', method='post')
                div(id="services")
                    h3 Profile
                    input(type='button', name="add_service", value='Add Service', onclick='addService()')
                    br
                input(type='button', id='submit_profile', value='Send profile', onclick='convertForm()')