extends layout

block content
    h1 Welcome to #{title}
    h3 Manage existing profiles
    script(src="/jquery/jquery.js")
    script(src="/javascripts/profiles.js")

    #wrapper
        h2 Profile List
        #profiles
        table
            thead
                th Start Simulator
                th Profile ID
                th Delete?
            tbody#body