doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/dynamic_form.js")

    body
        p Please be sure to fill in all values before submitting
        br
        div(id="profile")
            h3 Profile 
        br
        input.send(type='submit' value='Send profile to server')