doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/dynamic_form.js")

    body
        p Please be sure to fill in all values before submitting
        br
        div
            form(action='/profile', method='post')
                div(id="profile")
                    h3 Profile
                    input(type='button', name="add_service", value='Add Service', onclick='addService()')
                    br
                input(type='submit', value='Send profile')