extends layout

block content
    #content
        h1 Manage existing profiles and simulator control
        script(src="/jquery/jquery.js")
        script(src="/javascripts/profiles.js")
        #wrapper
            h2 Profile List
            #profiles
            table
                thead
                    th Select for simulator
                    th Profile name
                    th Profile ID
                    th Delete?
                tbody#body

        h3 Click on Select to choose a profile for the use with the simulator.
        h3 The selected profile will be used after the simulator was restarted.
        h3 Click on the profile name to see all of its attributes.
        h3 Delete will remove a profile from the database.
        h3 If the deleted profile was the last selected profile for the simulator it will still be used until a new profile is selected.
        br
        input#simulator(class='start', type='button', name='start_stop', value='Start Simulator', onclick='startStop()')
        br
        #populate
            h1 Attributes of the selected profile
            form(id="profile", action='/profile', method="update")

