extends layout

block content
    h1 Welcome to #{title}
    h3 Create your own device profile
    p Add services, characteristics and descriptors to define your own device profile
    script(src="/jquery/jquery.js")
    script(src="/javascripts/profilelist.js")
    // Wrapper
    #wrapper

        // Profile LIST
        h2 Profile List

        #profiles
        table
            thead
                th Profile ID
                th Delete?
            tbody#body
            // Profile list
    // Wrapper