extends layout

block content
    script(src="/javascripts/dynamic_form.js")
    p Please be sure to fill in all values before submitting
        br
        div
            form(id="profile", action='/profile', method='post')
                div(id="services")
                    h3 Profile
                    button(type='button', name="add_service", onclick='addService()') Add Service
                    br
                input(type='submit', value ="Submit Profile", onclick='convertForm()')