extends layout

block content
    h1 Welcome to #{title}
    h3 Manage existing profiles
    script(src="/jquery/jquery.js")
    script(src="/javascripts/profiles.js")

    #wrapper
        h2 Profile List
        #profiles
        table
            thead
                th Select
                th Profile ID
                th Delete?
            tbody#body

    div#simulator

    footer
    p Selected profile will be used on next simulator start.
    p Delete will remove the profile from the database. If deleted profile was the last selected profile for the simulator it will still be used until a new profile is selected.