body {
    align-self: center;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#profile {
    background-color: bisque;
}

.service {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: fuchsia;
}

.characteristic {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: aqua;
}

#characteristicroot {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: aqua;
}
